<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<title>{{title}}</title>
<meta name='keywords' content="{{keywords}}">
<meta name='description' content="{{description}}">
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name="robots" content="index">
<link rel='shortcut icon' href='/favicon.ico'>
<link href="//fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet" type="text/css">
<script src="/dist/admin.js"></script>
</head>
<body>

<header><a href="/" class="logout"></a><h1>{{title}}</h1></header>
<article>{{content}}</article>

</body>
</html>
